@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Truculenta:opsz,wght@12..72,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Urbanist", sans-serif;
}
html {
  font-size: 62.5%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}
p,
li,
a {
  font-family: "Urbanist", sans-serif;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  font-weight: 400;
  color: var(--para-color);
}
.container {
  max-width: 142rem;
  margin: 0 auto;
  padding: 9.6rem 2.4rem;
}

:root {
  --main-color: #0062ff;
  --supporting-color: #ebf3fe;
  --font-color: #424242;
  /* --bg-color: #ffffff; */
  --bg-color: #f7fcff;
  --heading-color: #000a19;
  --hero-heading-color: #003b99;
  --white-color: #ffffff;
  --para-color: #504e4d;
  --bnt-hover-bg-color: #003b99;
  --btn-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  --footer-bg-color: #040d12;
}

/** Navbar Section */

.section-navbar {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.section-navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.8rem 2.4rem;
}
.navbar-logo {
  & a {
    padding-left: 70px;
    font-family: "Truculenta", sans-serif;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 800;
    text-decoration: none;
  }
}
.section-navbar .navbar ul {
  display: flex;
  gap: 3rem;
  list-style: none;

  /*! Nesting CSS */

  & li a {
    color: var(--heading-color);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.6rem;
    display: inline-block;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: -0.3rem;
      left: 0;
      width: 0%;
      border-bottom: 0.3rem solid var(--main-color);
      border-radius: 2px;
      transition: all 0.3s;
    }
  }
  & li a:hover:after {
    width: 100%;
  }
  & a {
    text-decoration: none;
  }
}
button {
  padding: 10px 20px;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-weight: 1000;
  font-size: 15px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
  overflow: hidden;
}

button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #212121;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
}

button:hover {
  color: #e8e8e8;
}

button:hover::before {
  width: 100%;
}

/** End Navbar Section */

/*? Start Main Section */

.grid {
  display: grid;
}
.grid-two--cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid-four--cols {
  grid-template-columns: repeat(4, 1fr);
}
.grid-eight--cols {
  grid-template-columns: repeat(6, 1fr);
}

.btn {
  display: inline-block;
  padding: 1.2rem 3.2rem;
  background-color: var(--main-color);
  color: var(--bg-color);
  border-radius: 0.6rem;
  text-decoration: none;

  &:hover {
    background-color: var(--bnt-hover-bg-color);
    cursor: pointer;
    box-shadow: var(--btn-box-shadow);
  }
}

main {
  position: relative;
  background-image: linear-gradient(
    to top right,
    #3d86fa,
    #4484fb,
    #679eff,
    #b3d2ff,
    #ebf3fe
  );
}
.typing-1 {
  color: #ffffff;
}
.section-hero--image img {
  width: 78%;
  height: auto;
  transform: scaleX(-1);
}

.section-hero .grid {
  align-items: center;
  gap: 6.4rem;

  & .hero-subheading {
    letter-spacing: 0.2rem;
    word-spacing: 0.2rem;
    text-transform: capitalize;
    font-size: 3.3rem;
  }
  & .hero-heading {
    font-size: 45px;
  }
  & .hero-para {
    color: var(--supporting-color);
    font-size: 25px;
    font-weight: 700;
  }
  & .hero-btn a {
    font-weight: 600;
  }
}

.wave {
  animation-duration: 2.1s;
  animation-iteration-count: infinite;
  animation-name: wave-animation;
  display: inline-block;
  transform-origin: 70% 70%;
}
@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/*? Shape Divider*/

.custom-shape-divider-bottom-1711434918 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1711434918 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 12rem;
}

.custom-shape-divider-bottom-1711434918 .shape-fill {
  fill: #ffffff;
}

/** Shape Divider */

/*? Ends Main Section */

/*! About Section */

.about-img {
  height: 455px;
  width: 489px;
  object-fit: fill;
  border-radius: 50%;
  float: right;
  margin-top: 30px;
  margin-right: 70px;
}

.section-about {
  & h2 {
    font-size: 3.5rem;
  }

  & p {
    line-height: 3rem;
    font-weight: 500;
    font-size: 2rem;
  }
  & span {
    color: #0062ff;
  }
}

/*! footer section */

footer {
  display: grid;
  padding-left: 5px;
  align-items: center;
  height: 6.5rem;
  color: #ebf3fe;
  background-color: #000a19;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 50px;

  & .heading-1 {
    word-spacing: 0.4rem;
    font-size: 1.6rem;
    padding-left: 8rem;
  }
  & .heading-2 {
    font-size: 1.5rem;
    text-align: center;
  }
  & .heading-3 {
    font-size: 1.8rem;
    padding-right: 12rem;
    text-align: end;
    letter-spacing: 24px;
    padding-top: 10px;

    & li {
      display: inline-block;
      list-style: none;
    }
  }
}

/*! footer section */

/*? connect with me */

.connect {
  & h3 {
    text-align: center;
    font-size: 4rem;
  }
  & p {
    font-weight: 500;
    text-align: center;

    & span {
      color: #0062ff;
    }
  }
}

.icons ul {
  margin-top: 25px;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;

  & li {
    display: inline-block;
  }
}

/*? connect with me */

/*! Projects Section */
.containers {
  max-width: 142rem;
  margin: 0 auto;
  padding: 4.5rem 2rem;

  & h2 {
    font-weight: 600;
    font-size: 3.5rem;
  }
}
.section-projects {
  background-color: var(--bg-color);

  & .grid {
    gap: 6.4rem;
  }

  & .projects {
    box-shadow: rgba(0, 98, 255, 0.2) 0px 7px 29px 0px;
    transition: scale 0.3s linear;

    &:hover {
      scale: 1.1;
    }

    & .projects-content {
      padding: 1.4rem 2.4rem 2.4rem;

      & h3 {
        font-size: 1.5rem;
      }
    }
  }

  & img {
    width: 100%;
    height: auto;
  }

  & .projects-language {
    display: flex;
    justify-content: space-between;
    margin-top: 1.6rem;
    font-size: 1.4rem;

    & .fa-solid {
      background-color: transparent;
      padding: 0;
    }
  }

  & .section-common--title {
    margin-top: 0.8rem;
  }
}
/*! Projects Section */

/*! Skills Section */

.skills img {
  height: 455px;
  width: 489px;
  object-fit: fill;
  border-radius: 50%;
  float: right;
  margin-top: 30px;
  margin-right: 70px;
}

.section-skills {
  & h2 {
    font-size: 3.5rem;
  }

  & p {
    line-height: 3rem;
    font-weight: 500;
    font-size: 2rem;
  }
  & span {
    color: #0062ff;
  }
}

ul li {
  line-height: 3.5rem;
  list-style: none;
  font-size: 2rem;
}

.professional-skills {
  & h2 {
    text-align: center;
    font-size: 3.5rem;
  }
  & span {
    font-weight: 800;
    color: #0062ff;
  }

  & .fa-brands {
    text-align: center;
    font-size: 8rem;
  }
}
.skills-icons {
  border: 1.7px solid rgba(0, 98, 255, 0.637);
  border-radius: 5px;
  box-shadow: 4px 5px 4px 3px rgba(0, 98, 255, 0.137);
  display: table;
  font-size: 4.5em;
  margin: 15px;
  opacity: 0.93;
  overflow: hidden;
  padding: 15px;
  text-align: center;
  transition: all 0.4s ease 0s;
  vertical-align: middle;

  &:hover {
    scale: 1.1;
  }

  & svg {
    gap: 3rem;
  }
}

/*! Skills Section */

/** Media Queries */

@media (max-width: 1400px) {
  html {
    font-size: 56.25%;
  }
  .section-hero--image img {
    width: 90%;
  }
}

@media (max-width: 1220px) {
  html {
    font-size: 54%;
  }
}

@media (width <= 998px) {
  .section-hero {
    padding-bottom: 5rem;

    & .grid-two--cols {
      grid-template-columns: 1fr;

      & .section-hero--content {
        order: 2;
      }
      & .section-hero--image {
        order: 1;
      }
    }
  }
  .custom-shape-divider-bottom-1711434918 svg {
    height: 8rem;
  }
  .about-img {
    margin-right: -75px;
  }
}

@media (max-width: 768px) {
  .grid-two--cols,
  .grid-four--cols,
  .grid-eight--cols {
    grid-template-columns: 1fr;
  }

  .section-navbar .container {
    display: flex;
    flex-direction: column;
  }
  .section-navbar .navbar ul {
    & li a {
      font-weight: 600;
      font-size: 1.17rem;
      gap: 1rem;
    }
  }
  .navbar-logo {
    & a {
      padding-left: 15px;
    }
  }
  footer {
    line-height: 4rem;
    height: auto;
    grid-template-columns: 1fr;

    & .heading-1 {
      padding-left: 6rem;
    }
  }
  .container {
    padding: 4.5rem 2.4rem;
  }

  .skills img {
    height: auto;
    width: 90%;
    object-fit: fill;
    border-radius: 50%;
    float: right;
    margin-top: 15px;
    margin-right: 15px;
  }
}

/** Media Queries */
